*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #020202;
    height: 100vh;
    align-items: center;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,3),transparent),url(images/00192.png);
    background-size: cover;
    overflow: hidden;
    background-position: center;
    padding: 0 8%;
    position: relative;
    animation: zoom 2s;
}
@keyframes zoom{
    0%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.humburger{
    height: 2rem;
    width: 2rem;
    position: fixed;
    z-index:100 ;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    cursor: pointer;
}
.show-menu .humburger{
    right: 16rem;
}
.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transform: transform 1s;
}
.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .4rem) ;
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.4rem);
}
.humburger span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 4rem;
    display: flex;
    align-items: center;
    background-color: #ad5cff;
    color: #fff;
    opacity: 0;
   
}
.humburger span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #ad5cff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}
.show-menu .humburger:hover span{
    opacity: 1;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 5px 0;
}
.logotipo{
    width: 120px;
    cursor: pointer;
}
.icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
    padding: 30px;
}
nav ul li{
    display: inline-block;
    margin: 10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50);
    background: #fff;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 50%;
}
.caixa-testo{
    color: #fff;
    position: absolute;
    bottom: 8%;
}
.caixa-testo p{
    font-size: 50px;
    font-weight: 600;
}
.caixa-testo h1{
font-size: 190px;
line-height: 160px;
margin-left: -10px;
color: transparent;
-webkit-text-stroke: 1px #fff ;
background: url(images/back.png);
-webkit-background-clip: text;
background-position: 0 0;
animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.caixa-testo h3{
    font-size: 40px;
    font-weight: 500;
}
.caixa-testo .fileira{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;

}
.caixa-testo a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}
.caixa-testo a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}
.redes-socias{
    position: absolute;
    right: 5%;
    bottom: 8%;
}

.redes-socias img{
    color: #fff;
    width: 25px;
    display: block;
    margin: 25px 5px;
    background-color: black;
    border-radius: 52%;
    transition: background-color 1s;
}
.redes-socias img:hover{
    background: #963fec;

}
.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: #363535;
    position: fixed;
    top: 0;
    right: -21rem;
    transition: all 1s;
    z-index:5;
}
.show-menu .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}
.menu-itens{
    text-align: center;
    margin-bottom: 3rem;
}
.menu-link{
    font-family:Arial;
    font-size: 2rem;
    color: #0a0a0a;
    transition: color 1s;
}
.menu-link:hover{
    color: #b144fa;
}
.contacto{
    width: 100%;
    height: 100vh;
    background-color: #020202;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacto-wrapper{
width: 60%;
height: 30rem;
display: flex;
box-shadow: 0 2rem 3rem rgba(0, 0, 0,0.5);
}
.contacto-left{
    width: 35%;
    background: 
    linear-gradient(rgba(15, 15, 16, 0.6) ,rgba(22, 22, 22,0.9)), 
    url(images/textura-de-papel-com-padrao_107441-49.jpg);
    background-size: cover;
}
.contacto-right{
    width: 65%;
    background-color: #fff;
    padding: 1rem 3rem 3rem 3rem ;
}
.contacto h1{
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #0a0a0a;
    font-size: 3rem;
    font-weight: lighter;
}
.contacto form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero{
    background-color: #020202;
    min-height: 100vh;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 50px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
}
.hero h1{
    font-size: 50px;
    font-weight: 500;
}
.tema{
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ji{
    flex-basis: 28%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    z-index: 2;
}
.perfil{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-sizing: border-box;
    background: #1d0e24;
    padding: 12px;
}
.perfil h2{
    margin: 25px 0 10px;
    font-weight: 500;
}
.perfil p{
    margin-bottom: 10px;
    color: #ff7878;
}
.ji::before, .ji::after{
   content: '';
   height: 0;
   width: 0;
   border-radius: 20px;
   background: linear-gradient(135deg, #b421a8, #e4ff1a);
   position: absolute;
   z-index: -1;
   animation: none;
}
.ji::before{
    left: 0;
    top: -8px;
}
.ji::after{
    right: 0;
    bottom: -8px;
}
@keyframes stroke{
    0%{
        height: 8px;
        width: 0px;
    }
    50%{
        height: 8px;
        width: calc(100% + 8px);
    }
    100%{
        height: calc(100% + 16px);
        width: calc(100% + 8px);
    }
}
.ji:hover:before, .ji:hover:after{
    animation: stroke 0.6s linear;
   animation-fill-mode: forwards ;
}
.rede{
    width: 100%;
    height: 100vh;
    background: #f1f9ff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 40px;
}
.projeto{
    background-color: #020202;
    height: 100%;
    min-height: 100vh;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 80px;
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    
}
.projeto1{
    font-size: 50px;
    font-weight: 500;
}
.projeto1 h1{
    font-size: 50px;
    font-weight: 500;
}
.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 1.6rem ;
    color: #f1f9ff;
}
.conhecimenho-header img{
display: flex;
height: 25px;
width: 25px;
}
.conhecimento:nth-child(1){
    grid-column: 4/ 7;
    grid-row: 1/ 3;
}
.conhecimento:nth-child(2){
    grid-column: 3/ 6;
    grid-row: 3/ 5;
}
.conhecimento:nth-child(3){
    grid-column: 4/ 7;
    grid-row: 5/ -1;
}
.conhecimento:nth-child(4){
    grid-column: 11/ 14;
    grid-row: 1/ 3;
}
.conhecimento:nth-child(5){
    grid-column: 12/ 15;
    grid-row: 3/ 5;
}
.conhecimento:nth-child(6){
    grid-column: 10/ 12;
    grid-row: 5/ -1;
}
.sessao-conhecimentos{
    background-color: #020202;
}
.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sessao-header h1{
font-family: helvetica, sans-serif;
font-size: 3rem ;
color: #f8f8f8;
border-bottom: solid 3px #702fb1;
margin-bottom: 1.5rem;
}
.conhecimenho-header{
    display: flex;
    align-items: center;
    color: #ffffff;
}
.conhecimenho-header i{
    font-size: 2rem;
}
.conhecimenho-header h3{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 2rem;
    padding-left: 1rem;
}
.conhecimenho-texto{
    font-family: 'Lucida Sans';
    margin-top: 1rem;
}
.conhecimentos-img-folo{
    grid-column: 7/ 11;
    grid-row: 2/ 6;
    width: 100%;
}
.conhecimentos-img-folo img{
object-fit: cover;
width: 100%;
}
.section-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-header h1{
font-family: sans-serif;
font-size: 3rem ;
color: #f8f8f8;
border-bottom: solid 3px #702fb1;
margin-bottom: 1.5rem;
}
.projetos{
    display: flex;
    justify-content: space-evenly;
}
.card{
width: 18rem;
height: 25rem;
position: relative;
}
.card-img-de{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}
.card-img-de img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .9;
    transition: opacity .3s;
}
.card:hover .card-img-de img{
    opacity: .7;
}
.card-info{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0,0.6);
    transition: all .3s;
}
.card-info h2{
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #eee;
}
.card-info h3{
    font-family: Verdana, Tahoma;
    font-weight: bolder;
    color: #ff246d;
    margin-bottom: 1.5rem;
}
.card-info p{
    font-family: cursive;
    color: #eee;
    font-weight: bolder;
    width: 80%;
    margin-bottom: 2rem;
}
.card-info button{
    width: 6rem;
    height: 2.2rem;
    border-radius: 5rem;
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #b044fa, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093);
    font-size: .9rem;
    color: #e6d5d5;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0,0.4);
    border: none;
    cursor: pointer;
}
.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}
footer{
    width: 100%;
    height: 7rem;
    background-color: #333030;
    display: flex;
    justify-content:center ;
    align-items: center;
}
.footer-tem{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footer-tem p{
    font-family:  Tahoma, sans-serif;
    color: #e9e9e9;
    font-size: 1.2rem;
}
.social-lista a{
    margin: 0.2rem;
    color: #a7a7a7;
    font-size: 1.3rem;

}
.social-lista ul {
    display: flex;

}
#link-topo{
    position: fixed;
    right: 3rem;
   bottom: 3rem;
   width: 3rem;
   height: 3rem;
   background: #6a3093;
   background: -webkit-linear-gradient(to right, #b044fa, #6a3093);
   background: linear-gradient(to left, #a044ff, #6a3093);
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   border-radius: .3rem;
   box-shadow: 0 0 .1rem 0 .6rem #0000;
}
#link-topo img{
right: 3rem;
bottom: 3rem;
width: 2.2rem;
cursor: pointer;
}
.input-group{
    position: relative;
}
.input-group textarea{
    padding: 1rem;
    max-width: 25rem;
    max-height: 3rem;
}
.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: Impact,'Arial Narrow Bold', sans-serif;
    border-bottom: 1px dashed #636363;
    height: 3rem;
    outline: none;
    margin: 1rem;
}
.field-label{
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    transition: all 0.3s;
}
.field:focus ~ label{
    top: 0;
    font-size: 1rem;
}
.field:focus{
    border-bottom: 1px solid;
}
.btn{
    background: #6a3093;
    background: -webkit-linear-gradient(to right,#a044ff, #6a3093 );
    background: linear-gradient(to left,#a044ff, #6a3093);
    font-family: Impact, sans-serif;
    color: #fff;
    border-radius: .5rem;
    border: none;
    box-shadow: 0 .1rem .8erm rgba(0, 0, 0,.4);
}
.btn-submit{
    font-size: 1.2rem;
    margin-top: 1rem;
    width: 85%;
    height: 2rem;
    text-transform: uppercase;
    cursor: pointer;
}
@media (max-width: 898px){
    .projetos{
        display: inline;

    }
}
@media (max-width:1110px){
    .conhecimentos{
        display: inline;
    }
    .conhecimentos-img-folo img{
        display: none;
    }
}
@media (max-width:500px){
    .tema{
        display:block;
    }
    
}